<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <img src="https://i.pinimg.com/originals/79/99/ba/7999ba3c00d53ffd9d119b62dc222e9b.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center" color="secondary">
          <h3>Nadine Thasya Yuwono</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-margin">
      <ion-col size="8" offset="2" class="ion-no-margin">
        <ion-text class="ion-text-center">
          <p class="ion-no-margin">00000023570 - DL</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <p class="ion-text-justify ion-margin">
            Pada mini project ini, saya mengerjakan dengan bantuan tugas weekly, channel youtube Bapak Alexander Waworuntu
            dan sumber-sumber informasi lainnya seperti Documentation Ionic, Stackoverflow, Youtube, Github, dll.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
