<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Detail Motherboard</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img [src]="mboard.foto">
    <ion-card-header>
      <ion-card-subtitle color="secondary">{{mboard.merek}}</ion-card-subtitle>
      <ion-card-title color="light">{{mboard.model}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="light" class="ion-margin-bottom">
        <h3>Price: Rp. {{mboard.harga}}</h3>
        <h3>Stock: {{mboard.stok}}</h3>
      </ion-text>

      <ion-card-subtitle class="ion-margin-top" color="light" style="font-weight:bold">DESCRIPTION</ion-card-subtitle>
      <ion-text color="light">
        <p>Chipset: {{mboard.chipset}}</p>
        <p>Slot for: {{mboard.untuk_merek}}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
