<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="ListOrGrid()">
        <ion-icon [name]="viewValue ? 'list' : 'grid'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin" *ngIf="!viewValue">
    <div *ngFor="let CPU of cpus">
      <ion-item *ngIf="CPU.stok > 0" class="ion-margin-bottom" [routerLink]="['./cpu/', CPU.id]" color="tertiary">
        <ion-thumbnail slot="start">
          <img [src]="CPU.foto">
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h3 style="font-weight:bold">{{ CPU.merek }} {{ CPU.model }}</h3>
            <p>Rp. {{ CPU.harga }}</p>
            <p>Stock: {{ CPU.stok }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>

    <div *ngFor="let GPU of gpus">
      <ion-item *ngIf="GPU.stok > 0" class="ion-margin-bottom" [routerLink]="['./gpu/', GPU.id]" color="tertiary">
        <ion-thumbnail slot="start">
          <img [src]="GPU.foto">
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h3 style="font-weight:bold">{{ GPU.merek }} {{ GPU.model }}</h3>
            <p>Rp. {{ GPU.harga }}</p>
            <p>Stock: {{ GPU.stok }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>

    <div *ngFor="let motherboard of mboards">
      <ion-item *ngIf="motherboard.stok > 0" class="ion-margin-bottom" [routerLink]="['./motherboard/', motherboard.id]" color="tertiary" >
        <ion-thumbnail slot="start">
          <img [src]="motherboard.foto">
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h3 style="font-weight:bold">{{ motherboard.merek }} {{ motherboard.model }}</h3>
            <p>Rp. {{ motherboard.harga }}</p>
            <p>Stock: {{ motherboard.stok }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>

    <div *ngFor="let RAM of rams">
      <ion-item *ngIf="RAM.stok > 0" class="ion-margin-bottom" [routerLink]="['./ram/', RAM.id]" color="tertiary" >
        <ion-thumbnail slot="start">
          <img [src]="RAM.foto">
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h3 style="font-weight:bold">{{ RAM.merek }} {{ RAM.model }}</h3>
            <p>Rp. {{ RAM.harga }}</p>
            <p>Stock: {{ RAM.stok }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-grid *ngIf="viewValue">
    <ion-row>
      <ion-col size="6" *ngFor="let CPU of cpus">
        <ion-card class="ion-no-margin ion-no-padding" color="tertiary" *ngIf="CPU.stok > 0" [routerLink]="['./cpu/', CPU.id]">
          <img class="center"style="max-height: 200px;min-height: 200px"[src]="CPU.foto">
          <ion-card-content class="ion-no-padding ion-margin">
            <ion-text>
              <h3 style="font-weight:bold">{{ CPU.merek }} {{ CPU.model }}</h3>
              <p>Rp. {{ CPU.harga }}</p>
              <p>Stock: {{ CPU.stok }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngFor="let GPU of gpus">
        <ion-card class="ion-no-margin ion-no-padding" color="tertiary" *ngIf="GPU.stok > 0" [routerLink]="['./gpu/', GPU.id]">
          <img class="center"style="max-height: 200px;min-height: 200px"[src]="GPU.foto">
          <ion-card-content class="ion-no-padding ion-margin">
            <ion-text>
              <h3 style="font-weight:bold">{{ GPU.merek }} {{ GPU.model }}</h3>
              <p>Rp. {{ GPU.harga }}</p>
              <p>Stock: {{ GPU.stok }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngFor="let motherboard of mboards">
        <ion-card class="ion-no-margin ion-no-padding" color="tertiary" *ngIf="motherboard.stok > 0" [routerLink]="['./motherboard/', motherboard.id]">
          <img class="center"style="max-height: 200px;min-height: 200px"[src]="motherboard.foto">
          <ion-card-content class="ion-no-padding ion-margin">
            <ion-text>
              <h3 style="font-weight:bold">{{ motherboard.merek }} {{ motherboard.model }}</h3>
              <p>Rp. {{ motherboard.harga }}</p>
              <p>Stock: {{ motherboard.stok }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngFor="let RAM of rams">
        <ion-card class="ion-no-margin ion-no-padding" color="tertiary" *ngIf="RAM.stok > 0" [routerLink]="['./ram/', RAM.id]">
          <img class="center"style="max-height: 200px;min-height: 200px"[src]="RAM.foto">
          <ion-card-content class="ion-no-padding ion-margin">
            <ion-text>
              <h3 style="font-weight:bold">{{ RAM.merek }} {{ RAM.model }}</h3>
              <p>Rp. {{ RAM.harga }}</p>
              <p>Stock: {{ RAM.stok }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
